@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500i,700&subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900);

.home-message h1,
.topbar p {
    margin: 0;
    padding: 0
}

.stickyfooter,
.svg-wrapper,
.ttext {
    position: relative
}

.topbar {
    padding: 10px 0
}

.topbar ul {
    margin-bottom: 0
}

.topbar a,
.topbar p {
    font-size: 14px;
    color: rgba(255, 255, 255, .4)
}

.topbar .fa-envelope-o,
.topbar .fa-phone {
    padding-right: 4px
}

.customform,
.customwidget,
.db,
.footer,
.pricing-box h3,
.pricing-price p,
.testimonials blockquote,
.topbar {
    background-color: #232323
}

.customform {
    border-color: #313131
}

.topbar .social-small li .fa {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 13px
}

.reviewwrapper blockquote {
    background-color: #f3f6f9 !important
}

.featured::before,
.freelancer-wrap .btn::before {
    border-color: #0a619a transparent transparent #0a619a
}

.sidebar .submit-form .form-control {
    background-color: #313131
}

.customwidget hr {
    background-color: #1a1a1a
}

.homehero {
    padding: 1.5em 0 1em
}

.home-message h1 {
    font-size: 32px;
    line-height: 1.4;
    text-transform: uppercase
}

.svg-wrapper {
    overflow: hidden;
    transform: translateY(-50%);
    margin: 0 auto;
    display: inline-block
}

.shape {
    stroke-dashoffset: -474;
    stroke-width: 3px;
    fill: transparent;
    stroke: #2980b9;
    border-bottom: 5px solid #000;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s
}

.ttext {
    top: 64px;
    padding-left: 12px
}

.svg-wrapper:hover .shape {
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760
}

.homehero .btn-custom,
.homehero .btn-custom:focus,
.homehero .btn-custom:hover {
    -moz-osx-font-smoothing: auto;
    background-color: #2980b9 !important;
    border: 0;
    box-sizing: border-box;
    color: #fff !important;
    cursor: pointer;
    border-radius: 0 !important;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 12px 5px;
    padding: 15px 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase
}

.home-message p {
    color: #5d5d5d;
    font-size: 18px;
    font-style: italic;
    line-height: 1.8;
    margin: 0;
    padding: 20px 0
}

.stickyfooter {
    background: #1e1e1e !important
}

.navbar-right .dropdown-menu::after,
.yamm-half .dropdown-menu::after {
    left: 10%
}

.section-title hr {
    margin: 0 auto 6px;
    width: 80px;
    border-width: 3px
}

.lead {
    font-size: 16px
}

.bootstrap-select .dropdown-menu,
.navbar .dropdown-menu {
    border: 0;
    padding: 5px !important
}

.bootstrap-select .dropdown-menu>li,
.navbar .dropdown-menu>li,
.navbar-right .dropdown-menu>li {
    padding: 7px 14px !important;
    border-bottom: 1px solid #ededed !important;
    background-color: transparent !important
}

.bootstrap-select .dropdown-menu>li a,
.navbar .dropdown-menu>li a,
.navbar-right .dropdown-menu>li a {
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    -o-transition: ease-in-out;
    transition: ease-in-out
}

.bootstrap-select .dropdown-menu>li:last-child,
.navbar .dropdown-menu>li:last-child {
    border-bottom: 0 !important
}

.bootstrap-select .dropdown-menu>li>a,
.navbar .dropdown-menu>li>a,
.navbar-right .dropdown-menu>li>a {
    clear: both;
    color: #333 !important;
    background-color: transparent;
    display: block;
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 1.42857;
    padding: 0;
    white-space: nowrap
}

.navbar-right .dropdown-menu>li>a span {
    color: #aaa !important
}

#wrapper {
    padding-bottom: 0
}

#sitefooter-wrap {
    padding: 30px 0 20px !important
}

.cart-body .panel-info>.panel-heading,
.dropdown-header,
.header .nav-tabs>li>a,
.job-meta p,
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover,
.nav-pills>li:focus a,
.nav-pills>li:hover a,
.navbar-default .navbar-nav>li>a,
.service-list i,
.submit-form label,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #232323
}

.lb .page-title h1,
.navbar-brand.with-text,
.pagination>li>a,
.pagination>li>span,
.wb .page-title h1,
li.dropdown.membermenu a.dropdown-toggle,
li.dropdown.membermenu a.dropdown-toggle:focus,
li.dropdown.membermenu a.dropdown-toggle:hover {
    color: #232323 !important
}

body,
li,
p {
    font-family: Roboto, sans-serif;
    font-weight: 400 !important
}

.cart-body .panel-info>.panel-heading,
.dropdown-header,
.loadmorebutton .btn,
.nav-pills>li>a,
.page-title h1,
.portfolio-filter li,
.readmore,
.section-title h4,
.with-text,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, sans-serif;
    font-weight: 700 !important
}

.blog-meta li a,
.btn,
.btn-primary,
.clients-name,
.company-links li a,
.contact-details li,
.customform .btn-group-vertical>.btn,
.customform .btn-group>.btn,
.customform .form-control,
.customwidget li,
.freelancer-list .badge,
.home-title p,
.item-price small a,
.job-meta p,
.job-tab small,
.lead,
.navbar-default .navbar-nav>li>a,
.pager a,
.pricing-price p,
.stickyfooter li,
.stickyfooter p,
.submit-form .form-control,
.testimonials blockquote p,
.tooltip-inner,
.topbar p,
small {
    font-family: Montserrat;
    font-weight: 400 !important
}


.image-bg{ 
    background-position: 0px -24px; 
}