 
.btn-custom-navigation {
    background-color: #2980b9 !important;
    border: 0 none;
    box-sizing: border-box;
    color: #ffffff !important;
    cursor: pointer;
    border-radius: 0 !important;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 12px 5px;
    padding: 15px 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
}

.btn-custom-navigation:disabled {
    background-color: #7EB2D5 !important;
    border: 0 none;
    box-sizing: border-box;
    color: #ffffff !important;
    cursor: pointer;
    border-radius: 0 !important;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 12px 5px;
    padding: 15px 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    cursor: not-allowed;
}





/* icon style  */
.social-media-icon {
    color: white;
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    padding-top: 1.5px !important;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.facebook {
    background-color: rgb(37, 37, 250);
}

.twitter {
    background-color: #00B6F1;
}

.google {
    background-color: #DA5333 !important
}

.linkedin {
    background-color: #007bb5;
}

.whatsapp {
    background-color: #075E54;
}



/* -- job listing design modufuication  */
.double-job {

    background: white;
    padding: 24px 22px;
    border-bottom: 1px solid #e9ecef;
}
.double-job-border-side {
 
    border-right: 1px solid #e9ecef;
}
